/mirrors/*

!/mirrors/openkrill
/mirrors/openkrill/*
!/mirrors/openkrill/flake.nix
!/mirrors/openkrill/flake.lock

!/mirrors/openkrill-operator
/mirrors/openkrill-operator/*
!/mirrors/openkrill-operator/flake.nix
!/mirrors/openkrill-operator/flake.lock

.git.mirrors
